<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{pages/index :: bootstrapImports}"></th:block>
</head>
<body>
<th:block th:replace="~{pages/index :: header}"></th:block>
<main class="container mx-auto text-center pt-4">
    <h1 class="fs-4">Action réussie !</h1>
    <img th:src="@{/images/success.jpg}" alt="Lapin heureux" class="w-25 rounded my-5">
    <p class="mt-2">Vous allez être redirigé</p>
</main>
<script th:inline="javascript">
    setTimeout(() => window.location.href = '/',3000);
</script>
</body>
</html>