<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.title}"></title>
    <th:block th:replace="~{home :: bootstrap}"></th:block>
</head>
<body>

<main class="container text-center w-50 mx-auto">

    <a th:href="@{/}" class="btn btn-outline-dark my-3">Retour à l'accueil</a>
    <h1 class="fs-1 my-4 text-decoration-underline" th:text="${post.title}"></h1>
    <h2 th:text="${post.description}" class="fs-3 fw-normal my-4"></h2>
    <p th:text="${post.content}" class="rounded border border-dark p-3"></p>

    <ul class="list-group list-group-flush w-50 mx-auto">
        <li th:each="comment : ${post.comments}" class="list-group-item">
            <h3 th:text="${comment.name}" class="fs-5"></h3>
            <p th:text="${comment.content}" class="fs-6"></p>
            <p th:text="'par ' + ${comment.email}" class="fst-italic fs-6"></p>
        </li>
    </ul>

    <h2 class="fs-5 mt-5">Poster votre propre commentaire</h2>

    <form th:action="@{/postComment/{id}(id=${post.id})}" method="POST" th:object="${comment}" class="w-50 mx-auto my-5 text-start ">
        <div class="mb-3">
            <label for="name" class="form-label">Titre : </label>
            <input type="text" class="form-control" id="name" th:field="*{name}">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></p>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email : </label>
            <input type="text" class="form-control" id="email" th:field="*{email}">
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></p>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Commentaire : </label>
            <textarea class="form-control" id="content" th:field="*{content}"></textarea>
            <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="text-danger"></p>
        </div>
        <button class="btn btn-outline-success my-2 d-block mx-auto">Valider</button>
    </form>
</main>
</body>
</html>