<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.title}"></title>
    <th:block th:replace="~{fragments/bootstrapCDN :: bootstrap}"></th:block>
</head>
<body>

<main class="container text-center w-50 mx-auto">

    <a th:href="@{/}" class="btn btn-outline-dark my-3">Retour à l'accueil</a>
    <h1 class="fs-1 my-4 text-decoration-underline" th:text="${post.title}"></h1>
    <h2 th:text="${post.description}" class="fs-3 fw-normal my-4"></h2>
    <p th:text="${post.content}" class="rounded border border-dark p-3"></p>

    <ul class="list-group list-group-flush w-50 mx-auto">
        <li th:each="comment : ${post.comments}" class="list-group-item">
            <h3 th:text="${comment.name}" class="fs-5"></h3>
            <p th:text="${comment.content}" class="fs-6"></p>
            <p th:text="'par ' + ${comment.email}" class="fst-italic fs-6"></p>
        </li>
    </ul>

    <div class="actions mx-auto d-flex justify-content-center">
        <a th:href="@{/editPost/{id}(id=${post.id})}" class="btn btn-warning me-2">Modifier</a>
        <a th:href="@{/removePost/{id}(id=${post.id})}" class="btn btn-danger ms-2">Supprimer</a>
    </div>

    <h2 class="fs-5 mt-5">Poster votre propre commentaire</h2>

    <th:block th:replace="~{comment-form :: commentForm}"></th:block>

</main>
</body>
</html>